<div id="login-wraper">
  <div id="login-container">
    <h3>登录系统</h3>
    <p-growl [value]="msgs" [sticky]="false"></p-growl>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <input type="text" [(ngModel)]="loginName" pInputText placeholder="登录名" required/>
      </div>
      <div class="ui-g-12">
        <input type="password" [(ngModel)]="password" pInputText placeholder="密码" required/>
      </div>
      <div class="ui-g-12 ui-md-6">
        <p-checkbox [(ngModel)]="rememberMe" binary="true" label="记住密码"></p-checkbox>
      </div>
      <div class="ui-g-12 ui-md-6">
        <a href="#" (click)="forgetPassword($event)">忘记密码</a>
      </div>
      <div class="ui-g-12">
        <button pButton type="text" label="登  录" (click)="logOn()"></button>
      </div>
    </div>
  </div>
</div>