<div id="login-wraper">
  <div id="login-container">
    <h3>重置密码</h3>
    <p-growl [value]="msgs" [sticky]="false" [life]="1500"></p-growl>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <input type="text" [(ngModel)]="loginName" pInputText placeholder="登录名" required/>
      </div>
      <div class="ui-g-12">
        <input type="password" [(ngModel)]="password" pInputText placeholder="新密码" required/>
      </div>
      <div class="ui-g-12 ui-md-6">
        <button pButton type="text" label="确  定" (click)="confirm()"></button>
      </div>
      <div class="ui-g-12 ui-md-6">
        <button pButton type="text" label="取  消" (click)="cancel()" class="ui-button-secondary"></button>
      </div>
    </div>
  </div>
</div>